@font-face {
    font-family: 'Tagesschrift';
    src: url('imptStuff/Tagesschrift-Regular.woff2') format('woff2'),
        url('imptStuff/Tagesschrift-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: url(./imptStuff/wood.jpg);
    background-repeat: no-repeat;
    background-size: 2200px 1200px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    font-family: 'Tagesschrift',Arial, Helvetica, sans-serif;
}

nav {
    padding: 60px 10px 0px 10px;
    /* background: rgb(224, 224, 224); */
    display: flex;
    flex-flow: row;
    gap: 40px;
    justify-content: center;
}

nav > * {
     box-shadow: 5px 9px 10px 1px rgba(0,0,0,0.62);
}

button {
    font-family: inherit;
    font-size: 1.3rem;
    padding: 10px 20px 10px;
    border-radius: 15px 15px 0px 0px;
    border: 5px solid rgb(175, 141, 118);
    border-right: 5px solid rgb(201, 152, 63);
    background: rgb(175, 141, 118);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

button.selected::before {
    content: "🐱 ";
}

button:hover {
    background: rgb(199, 164, 140);
}

button.selected:hover {
    background: rgb(175, 141, 118);
}

#content {
    -webkit-box-shadow: 5px 9px 10px 1px rgba(0,0,0,0.62); 
    box-shadow: 5px 9px 10px 1px rgba(0,0,0,0.62);
    border: 12px solid rgb(175, 141, 118);
    border-radius: 30px;
    /* margin-top: 40px; */
    align-self: center;
    width: 900px;
    /* height: 120vh; */
    padding-bottom: 20px;
    margin-bottom: 50px;
    background:rgb(231, 211, 184);
    position: relative;
    display: flex;
    flex-flow: column;
}

#content > div {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.holder {
    font-size: 1.5rem;
    font-family: 'Tagesschrift','Courier New', Courier, monospace;
    text-align: center;
    background: peachpuff;
    padding: 30px;
    border: 15px solid rgb(201, 152, 63);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holder > div {
    width: 20ch;
}

#resTitle {
    font-family: 'Tagesschrift','Courier New','Arial';
    font-size: 3rem;
    width: 10ch;
}

img {
    width: 200px;
    height: 200px;
}

#paw-1,#paw-2,#paw-3 {
    position: absolute;
}



#paw-1 {
    right: 6px;
    top: 6px;
    width: 60px;
    height: 60px;
}

#paw-2 {
    right: 66px;
    top: 76px;
    width: 60px;
    height: 60px; 
}

#paw-3 {
    right: 26px;
    top: 146px;
    width: 60px;
    height: 60px; 
}

.attribution {
    background: rgb(25, 24, 90);
    color: rgb(219, 219, 219);
    padding-left: 20px;
}